# ===========================
# PRD / Dokumen Internal
# ===========================
PRD/

# ===========================
# Data - tidak di-track git
# ===========================
data/1_input_raw/
data/2_temp_crop_debug/ 
data/3_output_ready/
data/manual_coords.csv

# ===========================
# Logs
# ===========================
logs/

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# ===========================
# OS & Editor
# ===========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===========================
# PaddleOCR / EasyOCR cache
# ===========================
.paddlex/
inference/
